<template name="featproduct">
	<style>
		.jumbotron{
			background: url("images/fetured_image_2_1800x1200.jpg") no-repeat center center fixed;
			background-size: cover;
			height: 1070px;
			max-height: 100%;
			max-width: 100%
		}

		.jumboheader{
			position: relative;
			margin-top: 200px;
			top: 22%;
		}
		#feat-info-panel{
			margin-top: 150px;
		}
		#feat-info-panel-text h2{
			color: white
		}

		#feat-info-panel-text p{
			color: white
		}
	</style>
	
	<div class="jumbotron" id="featproduct">
		<div class="container">
			<div class="row" id="feat-info-panel">
				<div class="col-lg-4">
					<div class="caption" id="feat-info-panel-text">
						<h2>Deck Title</h2>
						<p>Slow-carb drinking vinegar normcore mustache, post-ironic ethical gastropub ugh forage photo booth.</p>
						<p><a href="#" class="btn btn-large btn-primary">Shop Now</a></p>
					</div>
				</div>

			</div>

		</div>			
	</div>
</template>

<!-- 			<div class="row jumboFeatInfoPanel">
				<div class="col-6 jumboheader">
					<h2>TESTING</h2>
				</div>
				<div class="col-3 jumbobody">
					<p>Organic cliche shabby chic, street art selvage vegan 3 wolf moon Wes Anderson.  Craft beer locavore raw denim actually.
				</div>	
			</div> -->

					<!-- 	<div class="thumbnail" id="thumbnail-bg">
						<div class="caption">
							<h2>Heading</h2>
							<p>Slow-carb drinking vinegar normcore mustache, post-ironic ethical gastropub ugh forage photo booth.</p>
							<p><a href="#" class="btn btn-large btn-primary">Shop Now</a></p>
						</div>
					</div> -->