<template name="footer">
	<style>
		.socail-icon{
			margin-top: 10px;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
    		display: block;
    		float: left;
    		background-position: 0 0;
		}
		
		#fb{
			background-image: url("images/facebook_small_icon.png");
		}

		#tw{
			background-image: url("images/twitter_small_icon.png");
		}

		#in-gram{
			background-image: url("images/instragram_small_icon.png");
		}
	</style>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="connect">
				<a class="socail-icon" id="fb" href="#"></a>
				<a class="socail-icon" id="tw" href="#"></a>
				<a class="socail-icon" id="in-gram" href="" ="#"></a>
			</div>
			<p class="navbar-text pull-right">Site Built by David Fry</p>
			

		</div>
	</div>
</template>